/* App.css */

.App {
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 1.5em;
}

input {
  padding: 8px;
  font-size: 1em;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px; 
}

button:hover {
  background-color: #0056b3;
}

.LocationInfo {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}



.loading-indicator {
  font-size: 1.2em;
  color: #007bff;
  margin-top: 20px;
  padding: 10px;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}


